/* Navbar */
.navbar {
	font-weight: bold;
	font-size: 16px;
	background: #303030;
	padding-top: 5px;
}

.navbar-inverse {
	font-weight: bold;
	font-size: 16px;
	background: #303030;
}

.navbar-collapse{
	padding-top: 12px;
}

.navbar-brand img{
	height: 55px;
}

.dropdown-menu{
	border-radius: 7px;
}



/* Jumbotron */
.jumbotron{
    background:#f4f4f4 url(/images/music.jpg);
    width: auto;
    height:350px;
	padding:0;
	margin-top: 70px;
}

.jumbotron [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    overflow:auto;
    height:350px;
}

.jumbotron h1{
	font-weight: bold;
	font-size: 54px;
	padding-top: 80px;
	padding-left: 40px;
	color: #4286f4;
}
 .jumbotron h1 span{
 	color: #f442b3;
}

/* Side Nav */
.sidenav {
	margin-top:71px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.1s
}

.sidenav div a{
    padding: 15px 8px 8px 32px;
    border-bottom: 1px solid black;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    background: #3f3f3f;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}