.body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#but1{
    
    position:fixed;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index:1000;
}
/* article one css */
#a1{

border-bottom : 1px solid black;
padding : 5px;
margin : 2px auto ;
background-color:indigo;
margin-top:0;
}
#h1{

text-align:center;
color:white;
}

#a2{
float:left;
margin:20px auto;

background-color:silver;
width:1330px;

}
footer{
clear:both;
text-align:center;
padding:5px;
margin:2px auto;
border-top:1px solid blue;
background-color :#b9acac;
}
