body {
    font-family: initial;
    background-color: black;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 750%;
    color:grey;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

