body {
    font-family: sans-serif;
    background-color: yellow;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
        max-width: 600px;
        margin: 0 auto;
        color: black;
        font-family:sans-serif;
    }
