body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
    color:green;
}

P1{
    text-align:justify;
    color:lightblue;
    background-color:yellow;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-large {
   height: 600px;
/*    .img-medium {
    height: 200px;*/

}

