body {
    font-family: sans-serif;
    margin: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{ 
    max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: sans-serif;
    padding-right: 20px;
    padding-left: 20px
}